.card-content{
    padding-left: 5px;
    padding-right: 5px;
}
.item-list{
    overflow: hidden;
    transition: height 0.4s ease-in-out;
    height: 90px;
    padding: 0 15px;
    .item{
        height: 30px;
        margin: 0;
        line-height: 30px;
        display: flex;
        justify-content: space-between;
        span{
            font-size: 12px;
        }
    }
}
.item-box{
    height: 300px;
    overflow-y: scroll;
}