<ion-header>
  <ion-toolbar color="danger">
    <ion-title>开奖中心</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card *ngFor="let lotto of openList">
    <div *ngIf="lotto.open || toggle">
      <ion-item>
        <!-- <ion-icon name="logo-usd" slot="start"></ion-icon> -->
        <ion-label>{{lotto.lotteryname}}</ion-label>
        <ion-button fill="outline" slot="end" [color]="lotto.open?'dark':'danger'" (click)="openToggle(lotto)">
          {{lotto.open?'收起':'更多'}}</ion-button>
      </ion-item>
      <ion-card-content>
        <div class="item-list" [ngClass]="{'item-box':lotto.open}">
          <p class="item" *ngFor="let item of lotto?.openhistory">
            <span>第{{item.issue}}期</span>
            <span>{{item.code}}</span>
          </p>
        </div>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>