<ion-header>
  <ion-toolbar>
    <ion-title>welCome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>
      <ion-icon name="person"></ion-icon>
    </ion-label>
    <ion-input clearInput></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-icon name="lock"></ion-icon>
    </ion-label>
    <ion-input clearInput></ion-input>
  </ion-item>
 
  <ion-button [routerLink]="[ '' ]" fill="solid" expand="block" round strong>登录</ion-button>

  <ion-button [routerLink]="[ '/register' ]" color="tertiary" fill="solid" expand="full" round strong>注册</ion-button>

</ion-content>