<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="albums"></ion-icon>
      <ion-label>大厅</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prize">
      <ion-icon name="flame"></ion-icon>
      <ion-label>开奖中心</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trend">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>走势图</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mine">
      <ion-icon name="contact"></ion-icon>
      <ion-label>用户</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
